In [44]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
#reading data

In [45]:
train = pd.read_excel('D:\\doc\\Virtual internship\\Codes on Bytes\\training data.xlsx')

In [46]:
test = pd.read_excel('D:\\doc\\Virtual internship\\Codes on Bytes\\test data.xlsx')

In [47]:
train

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[700 rows x 2 columns]

In [66]:
#identifying null values
train.isnull().sum()

x    0
y    1
dtype: int64

In [79]:
#identifying null values
test.isnull().sum()

x    0
y    0
dtype: int64

In [67]:
#dropping null values
train.dropna(inplace=True)

In [68]:
train.isnull().sum()

x    0
y    0
dtype: int64

In [69]:
#allocating values
x_train=train.iloc[:,0]
y_train = train.iloc[:, 1]

In [70]:
x_train

0      24.0
1      50.0
2      15.0
3      38.0
4      87.0
       ...
695    58.0
696    93.0
697    82.0
698    66.0
699    97.0
Name: x, Length: 699, dtype: float64

In [71]:
x_train.shape

(699,)

In [51]:
y_train.shape

(700,)

In [57]:
y_train

0      21.549452
1      47.464463
2      17.218656
3      36.586398
4      87.288984
         ...
695    58.595006
696    94.625094
697    88.603770
698    63.648685
699    94.975266
Name: y, Length: 700, dtype: float64

In [34]:
# Create an instance of the Linear Regression model
regressor = LinearRegression()

In [75]:
# Assuming x_train is a 1D array
x_train = np.array(x_train)  # Convert to numpy array if not already
x_train = x_train.reshape(-1, 1)  # Reshape to a 2D array with one column

# Train the model using the training sets
regressor.fit(x_train, y_train)

LinearRegression()

In [9]:
test

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]

In [76]:
#allocating values
x_test=test.iloc[:,0]
y_test = test.iloc[:, 1]

In [77]:
# Assuming x_train is a 1D array
x_test = np.array(x_test)  # Convert to numpy array if not already
x_test = x_test.reshape(-1, 1)  # Reshape to a 2D array with one column

In [78]:
# Use the trained model to predict values for the testing set
y_pred = regressor.predict(x_test)

# Compare the predicted values with the actual values
df_pred = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(df_pred)

        Actual  Predicted
0    79.775152  76.943276
1    23.177279  20.906519
2    25.609262  21.907175
3    17.857388  19.905862
4    41.849864  35.916364
..         ...        ...
295  68.545888  70.939338
296  47.334876  45.922928
297  54.090637  54.928836
298  63.297171  61.933430
299  52.459467  46.923584

[300 rows x 2 columns]